In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285397 sha256=ab79d14d60ad0e8f45b086dd0834ffca13aaa3fdc233fc86bef8c406f5b409a6
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
import os
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType, DoubleType

In [ ]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/content/service-key-gcloud.json'

In [ ]:
spark = SparkSession.builder \
    .appName('spark-run-with-gcp-bucket') \
    .config("spark.jars", "https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop3-latest.jar, https://storage.googleapis.com/spark-lib/bigquery/spark-3.3-bigquery-0.32.0.jar") \
    .config("spark.sql.legacy.timeParserPolicy", "CORRECTED") \
    .getOrCreate()

In [ ]:
bucket_name = 'cnpj-data'
folder_name = 'extracted'

In [ ]:
socios_schema = StructType([
    StructField("cnpj_basico", StringType(), True),
    StructField("cod_identificador_socio", IntegerType(), True),
    StructField("nome_socio", StringType(), True),
    StructField("cpf_cnpj_socio", StringType(), True),
    StructField("cod_qualificacao_socio", IntegerType(), True),
    StructField("data_entrada_sociedade", StringType(), True),
    StructField("cod_pais", IntegerType(), True),
    StructField("representante_legal", StringType(), True),
    StructField("nome_representante", StringType(), True),
    StructField("cod_qualificacao_representante", IntegerType(), True),
    StructField("cod_faixa_etaria", IntegerType(), True),
])

socios_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/*.SOCIOCSV', schema = socios_schema, sep = ';')

socios_df = socios_df.withColumn('data_entrada_sociedade', f.to_date(socios_df["data_entrada_sociedade"], "yyyyMMdd"))

socios_df.show()

+-----------+-----------------------+--------------------+--------------+----------------------+----------------------+--------+-------------------+------------------+------------------------------+----------------+
|cnpj_basico|cod_identificador_socio|          nome_socio|cpf_cnpj_socio|cod_qualificacao_socio|data_entrada_sociedade|cod_pais|representante_legal|nome_representante|cod_qualificacao_representante|cod_faixa_etaria|
+-----------+-----------------------+--------------------+--------------+----------------------+----------------------+--------+-------------------+------------------+------------------------------+----------------+
|   46204351|                      2|RUTHIELLI DOS SAN...|   ***627370**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               3|
|   46204403|                      2|LUIZ FELIPE FRANC...|   ***446578**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               4|
|   46204403|                      2|BRUNO DESIDERA RA...|   ***528398**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               4|
|   46204413|                      2|ANSELMO RICARDO D...|   ***226797**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               5|
|   46204456|                      2|  LAIS ROCHA ROBERTI|   ***570166**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               3|
|   46204480|                      2|GIACOMO RAUPP ZANINI|   ***226980**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               4|
|   46204480|                      2|RAFAELA FAVERO BA...|   ***445880**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               4|
|   46204513|                      2|CARLOS FERNANDO D...|   ***429247**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               7|
|   46204557|                      2|PAULA ANGELA MARI...|   ***557293**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               6|
|   46204611|                      2|GUSTAVO DA SILVA ...|   ***145037**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               6|
|   46204710|                      2|SUELI APARECIDA P...|   ***016768**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               6|
|   46204710|                      2| PEDRO VIGNER JUNIOR|   ***922808**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               5|
|   46204710|                      2|ELISANGELA OLIVEI...|   ***846458**|                    22|            2022-04-29|    null|        ***000000**|              null|                             0|               5|
|   46204710|                      2|MARIA AURENI DE M...|   ***057131**|                    22|            2022-04-29|    null|        ***000000**|              null|                             0|               6|
|   46204741|                      2|MARCELO SANTIAGO ...|   ***861708**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               4|
|   46204752|                      2|LINCON LEIVA LUIZ...|   ***543051**|                    16|            2022-04-22|    null|        ***000000**|              null|                             0|               5|
|   46204775|                      2|PAULA DE LUCA NOV...|   ***106248**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               4|
|   46204786|                      2|RAQUEL BARBOZA DO...|   ***543698**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               5|
|   46204856|                      2|CHARLES MACIEL LU...|   ***931547**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               4|
|   46204887|                      2|  THOMAS HOLTZ EGGBY|   ***205664**|                    49|            2022-04-29|    null|        ***000000**|              null|                             0|               3|
+-----------+-----------------------+--------------------+--------------+----------------------+----------------------+--------+-------------------+------------------+------------------------------+----------------+
only showing top 20 rows

In [ ]:
socios_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.socios") \
  .mode("overwrite") \
  .save()

In [ ]:
empresas_schema = StructType([
    StructField("cnpj_basico", StringType(), True),
    StructField("razao_social", StringType(), True),
    StructField("cod_natureza_juridica", IntegerType(), True),
    StructField("cod_qualificacao_responsavel", IntegerType(), True),
    StructField("capital_social", StringType(), True),
    StructField("cod_porte_empresa", IntegerType(), True),
    StructField("ente_federativo", StringType(), True)
])

empresas_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/*.EMPRECSV', schema = empresas_schema, sep = ';')

empresas_df = empresas_df.withColumn("capital_social", f.regexp_replace(f.col("capital_social"), ",", ".").cast(IntegerType()))

empresas_df.show()

+-----------+--------------------+---------------------+----------------------------+--------------+-----------------+---------------+
|cnpj_basico|        razao_social|cod_natureza_juridica|cod_qualificacao_responsavel|capital_social|cod_porte_empresa|ente_federativo|
+-----------+--------------------+---------------------+----------------------------+--------------+-----------------+---------------+
|   41273597|PACHARRUS QUEIROZ...|                 2135|                          50|          5000|                1|           null|
|   41273598|GLORIA VIANA DIAS...|                 2135|                          50|          1100|                1|           null|
|   41273599|ANA PAULA DA SILV...|                 2135|                          50|          2000|                1|           null|
|   41273600|41.273.600 AVANIL...|                 2135|                          50|         50000|                1|           null|
|   41273601|GABRIELA HELENA F...|                 2135|                          50|          2000|                1|           null|
|   41273602|FABIO SOUZA DO RO...|                 2135|                          50|         15000|                1|           null|
|   41273603|GRAFLINE ACESSORI...|                 2062|                          49|         10000|                1|           null|
|   41273604|RUMO - ESTUDIO DE...|                 2062|                          49|         10000|                1|           null|
|   41273605|WALLACE DE OLIVEI...|                 2135|                          50|          1000|                1|           null|
|   41273606|MARCOS CESAR DE M...|                 2135|                          50|         72000|                1|           null|
|   41273607|LAYANE SCARLETT D...|                 2135|                          50|             1|                1|           null|
|   41273608|FRANCISCA SAMPAIO...|                 2135|                          50|             0|                1|           null|
|   41273609|INGRID DIAS ALVES...|                 2135|                          50|         10000|                1|           null|
|   41273610|DAIANE DE SOUZA 0...|                 2135|                          50|          2500|                1|           null|
|   41273611|RENATO MOREIRA DA...|                 2135|                          50|          2000|                1|           null|
|   41273612|ELLEN FABIANI SOU...|                 2062|                          49|          1000|                1|           null|
|   41273613|ICARO SALAZAR FAR...|                 2135|                          50|          1000|                1|           null|
|   41273614|SERGIO BUENO DE F...|                 2135|                          50|          4000|                1|           null|
|   41273615|FELIPE FERREIRA D...|                 2135|                          50|          5000|                1|           null|
|   41273616|ANTONIO MORAIS DA...|                 2135|                          50|             0|                1|           null|
+-----------+--------------------+---------------------+----------------------------+--------------+-----------------+---------------+
only showing top 20 rows

In [ ]:
empresas_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.empresas") \
  .mode("overwrite") \
  .save()

In [ ]:
estabelecimento_schema = StructType([
    StructField("cnpj_basico", StringType(), True),
    StructField("cnpj_ordem", StringType(), True),
    StructField("cnpj_digito_verificador", StringType(), True),
    StructField("cod_identificador_matriz", IntegerType(), True),
    StructField("nome_fantasia", StringType(), True),
    StructField("cod_situacao_cadastral", IntegerType(), True),
    StructField("data_situacao_cadastral", StringType(), True),
    StructField("cod_motivo", IntegerType(), True),
    StructField("nome_cidade_exterior", StringType(), True),
    StructField("cod_pais", IntegerType(), True),
    StructField("data_inicio", StringType(), True),
    StructField("cod_cnae_principal", StringType(), True),
    StructField("cod_cnae_secundario", StringType(), True),
    StructField("tipo_logradouro", StringType(), True),
    StructField("logradouro", StringType(), True),
    StructField("numero", StringType(), True),
    StructField("complemento", StringType(), True),
    StructField("bairro", StringType(), True),
    StructField("cep", StringType(), True),
    StructField("uf", StringType(), True),
    StructField("cod_municipio", IntegerType(), True),
    StructField("ddd_1", StringType(), True),
    StructField("telefone_1", StringType(), True),
    StructField("ddd_2", StringType(), True),
    StructField("telefone_2", StringType(), True),
    StructField("ddd_fax", StringType(), True),
    StructField("fax", StringType(), True),
    StructField("correio_eletronico", StringType(), True),
    StructField("situacao_especial", StringType(), True),
    StructField("data_situacao_especial", StringType(), True)
])

estabelecimento_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/*.ESTABELE', schema = estabelecimento_schema, sep = ';')

estabelecimento_df = estabelecimento_df.withColumn('data_situacao_cadastral', f.to_date(estabelecimento_df["data_situacao_cadastral"], "yyyyMMdd"))
estabelecimento_df = estabelecimento_df.withColumn('data_inicio', f.to_date(estabelecimento_df["data_inicio"], "yyyyMMdd"))
estabelecimento_df = estabelecimento_df.withColumn('data_situacao_especial', f.to_date(estabelecimento_df["data_situacao_especial"], "yyyyMMdd"))

estabelecimento_df.show()

+-----------+----------+-----------------------+------------------------+--------------------+----------------------+-----------------------+----------+--------------------+--------+-----------+--------------+--------------------+---------------+--------------------+------+--------------------+--------------------+--------+---+-------------+-----+----------+-----+----------+-------+--------+--------------------+-----------------+----------------------+
|cnpj_basico|cnpj_ordem|cnpj_digito_verificador|cod_identificador_matriz|       nome_fantasia|cod_situacao_cadastral|data_situacao_cadastral|cod_motivo|nome_cidade_exterior|cod_pais|data_inicio|cnae_principal|     cnae_secundario|tipo_logradouro|          logradouro|numero|         complemento|              bairro|     cep| uf|cod_municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_fax|     fax|  correio_eletronico|situacao_especial|data_situacao_especial|
+-----------+----------+-----------------------+------------------------+--------------------+----------------------+-----------------------+----------+--------------------+--------+-----------+--------------+--------------------+---------------+--------------------+------+--------------------+--------------------+--------+---+-------------+-----+----------+-----+----------+-------+--------+--------------------+-----------------+----------------------+
|   23615079|      0001|                     60|                       1|KING FOODS DISTRI...|                     8|             2019-01-15|         1|                null|    null| 2015-11-06|       4691500|                null|            RUA|EXPEDICIONARIO JO...|   512|                null|     JARDIM ORIENTAL|19901730| SP|         6795|   14|  33252477| null|      null|   null|    null|KINGFOODSDISTRIBU...|             null|                  null|
|   23615093|      0001|                     64|                       1|GABRIEL DOMINGOS ...|                     8|             2016-04-25|         1|                null|    null| 2015-11-06|       4781400|                null|            RUA|            AQUIDABA|   805|             CASA 20|               MEIER|20720294| RJ|         6001|   21|  99087165| null|      null|   null|    null|CRISPSICO2003@IG....|             null|                  null|
|   23615102|      0001|                     17|                       1|                null|                     2|             2015-10-27|         0|                null|    null| 2015-10-27|       6463800|                null|        AVENIDA|     DUQUE DE CAXIAS|   240|           APT   102|QUATORZE DE FEVER...|35900236| MG|         4633|   31|  38341111| null|      null|     31|38341111|CADASTRO@CELTALTD...|             null|                  null|
|   23615117|      0001|                     85|                       1|       JAMG REFORMAS|                     4|             2021-02-09|        63|                null|    null| 2015-11-06|       4399103|             4330404|            RUA|            CAMBORIU|    09|   QUADRA 09 LOTA 09|MORADA DE LARANJE...|29166849| ES|         5699|   27|  95283255| null|      null|   null|    null|jamg_reformas@out...|             null|                  null|
|   18865607|      0001|                     08|                       1|BOX 7 MARTELINHO ...|                     4|             2020-10-22|        63|                null|    null| 2013-09-12|       4520002|4520001,4520004,4...|            RUA|         DA IMPRENSA|   102|QUADRA39         ...|          RODOVIARIO|74430240| GO|         9373|   62|  30971520|   62|  85738725|   null|    null|omegactb@hotmail.com|             null|                  null|
|   23615138|      0001|                     09|                       1|    LOJAO VARIEDADES|                     4|             2019-03-26|        63|                null|    null| 2015-11-06|       4781400|4782201,4789001,4...|            RUA|   ANIBAL CANTARELLI|    16|                null|              CENTRO|56980000| PE|         2485|   87|  99331133| null|      null|   null|    null|                null|             null|                  null|
|   23615150|      0001|                     05|                       1|MARCIA BOLOS E TO...|                     4|             2021-04-26|        63|                null|    null| 2015-11-06|       5620104|             1091102|            RUA|     SENHORA SANTANA|   141|                null|         NOVA POJUCA|48120000| BA|         3805|   71|  99496622| null|      null|   null|    null|                null|             null|                  null|
|   16817455|      0001|                     34|                       1|       CONCEPT SOUND|                     8|             2018-02-01|        67|                null|    null| 2012-09-08|       4530703|                null|            RUA|  HAMILTON DE ARAUJO|   101|                null|         VILA CAIUBA|05207010| SP|         7107|   11|  67517188| null|      null|   null|    null|michael689@gmail.com|             null|                  null|
|   23615170|      0001|                     86|                       1|         LUZIA MODAS|                     2|             2021-03-02|         0|                null|    null| 2015-11-06|       7319002|             1412601|            RUA|          ELIAS JOAO|    97|                CASA|          BELA VISTA|29700877| ES|         5629|   27|  97659653| null|      null|   null|    null|ELUANARODRIGGUES@...|             null|                  null|
|   11098433|      0017|                     05|                       2|                null|                     2|             2015-11-05|         0|                null|    null| 2015-11-05|       4782201|4781400,4782202,4...|        AVENIDA|       REBOUCAS 3970|  3970|LOJA  219 E      ...|           PINHEIROS|05402918| SP|         7107|   11|  21976303|   11|  21668888|   null|    null|LOJA95@NBBRASIL.C...|             null|                  null|
|   23615194|      0001|                     35|                       1|    COMIDA DE BUTECO|                     8|             2016-04-26|         1|                null|    null| 2015-11-06|       5611204|                null|            RUA|         SANTA LUZIA|   449|                null|               TREVO|35640000| MG|         5039|   37|  99188482| null|      null|   null|    null|                null|             null|                  null|
|   23615207|      0001|                     76|                       1|        FLORAL MODAS|                     4|             2021-03-18|        63|                null|    null| 2015-11-06|       4781400|4763601,4789001,4...|            RUA|GUEDES DE SOUZA M...|    SN|             SALA 03|        VILA BEATRIZ|88915000| SC|         8391|   48|  98286865| null|      null|   null|    null|                null|             null|                  null|
|   23615218|      0001|                     56|                       1|                null|                     4|             2021-02-25|        63|                null|    null| 2015-11-06|       4723700|                null|            RUA|JERONIMO TIMOTEO ...|    82|                null|        SAO JERONIMO|94040130| RS|         8683|   51|  34233411| null|      null|   null|    null|jc.vieira2@hotmai...|             null|                  null|
|   23615231|      0001|                     05|                       1|CASA DE CARNE SAN...|                     2|             2015-11-06|         0|                null|    null| 2015-11-06|       4722901|     4712100,1013901|            RUA|    OTINO DE FREITAS|   288|                null|              CENTRO|39508000| MG|         2893|   38|  92242333| null|      null|   null|    null|                null|             null|                  null|
|   23615239|      0001|                     71|                       1|      MECANICA ROCHA|                     8|             2018-08-14|         1|                null|    null| 2015-11-06|       4520001|     3314712,3314701|            RUA|JOSE DIAS DE VASC...|   292|                null|            BRASILIA|58307250| PB|         1937|   83|  86675822| null|      null|   null|    null|                null|             null|                  null|
|   21263862|      0001|                     87|                       1|MARLENE AROMAS E ...|                     8|             2015-11-06|         1|                null|    null| 2014-10-21|       2063100|             4772500|            RUA|CORONEL ARLINDO D...|   242|                null|PARQUE ALTO DO RI...|04823240| SP|         7107|   11|  56611937| null|      null|   null|    null|baltazar.marlene@...|             null|                  null|
|   23615261|      0001|                     11|                       1|FHENIX MOVEIS E C...|                     4|             2020-10-27|        63|                null|    null| 2015-11-06|       4754702|             4754701|        AVENIDA|  PRESIDENTE KENNEDY|   440|                null|            CAMPINAS|88101000| SC|         8327|   48|  33717600|   48|  33718600|     48|33717600|EDVALDO@PAZEFARIA...|             null|                  null|
|   23615275|      0001|                     35|                       1|     ASSESSOR INVEST|                     4|             2021-02-26|        63|                null|    null| 2015-11-06|       6920601|                null|        AVENIDA|BERNARDINO DE CAMPOS|    98|                null|             PARAISO|04004040| SP|         7107|   11|  40119093| null|      null|   null|    null|                null|             null|                  null|
|   09280870|      0001|                     36|                       1|                null|                     8|             2022-01-14|         1|                null|    null| 2007-12-04|       4751201|8599603,8599604,9...|            RUA|BENEDICTA CARDOSO...|   330|                null|         AGUA BRANCA|13424786| SP|         6875|   19|  34021216|   19|  91034440|     19|34117800|CONTATO@PONTONETI...|             null|                  null|
|   23615299|      0001|                     94|                       1|                null|                     8|             2018-10-16|        37|                null|    null| 2015-11-06|       0139306|                null|        FAZENDA|       SANTA BARBARA|    SN|          ZONA RURAL|   FAZ SANTA BARBARA|15160000| SP|         6899|   17|  38191133|   17|  38191403|     17|38191133|BRITOPOLONI@GMAIL...|             null|                  null|
+-----------+----------+-----------------------+------------------------+--------------------+----------------------+-----------------------+----------+--------------------+--------+-----------+--------------+--------------------+---------------+--------------------+------+--------------------+--------------------+--------+---+-------------+-----+----------+-----+----------+-------+--------+--------------------+-----------------+----------------------+
only showing top 20 rows

In [ ]:
estabelecimento_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.estabelecimento") \
  .mode("overwrite") \
  .save()

In [ ]:
paises_schema = StructType([
    StructField("cod_pais", IntegerType(), True),
    StructField("pais", StringType(), True)
])

paises_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/F.K03200$Z.D30610.PAISCSV',schema = paises_schema, sep = ';')

paises_df.show()

+--------+--------------------+
|cod_pais|                pais|
+--------+--------------------+
|       0|       COLIS POSTAUX|
|      13|         AFEGANISTAO|
|      17|             ALBANIA|
|      20|ALBORAN-PEREJIL,I...|
|      23|            ALEMANHA|
|      25|ALEMANHA, REP. DE...|
|      31|        BURKINA FASO|
|      37|             ANDORRA|
|      40|              ANGOLA|
|      41|            ANGUILLA|
|      43|   ANTIGUA E BARBUDA|
|      47| ANTILHAS HOLANDESAS|
|      53|      ARABIA SAUDITA|
|      59|             ARGELIA|
|      63|           ARGENTINA|
|      64|ARMENIA, REPUBLIC...|
|      65|               ARUBA|
|      69|           AUSTRALIA|
|      72|             AUSTRIA|
|      73|AZERBAIJAO, REPUB...|
+--------+--------------------+
only showing top 20 rows

In [ ]:
paises_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.paises") \
  .mode("overwrite") \
  .save()

In [ ]:
municipios_schema = StructType([
    StructField("cod_municipio", IntegerType(), True),
    StructField("municipio", StringType(), True)
])

municipios_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/F.K03200$Z.D30610.MUNICCSV',schema = municipios_schema, sep = ';')

municipios_df.show()

+-------------+--------------------+
|cod_municipio|           municipio|
+-------------+--------------------+
|            1|       GUAJARA-MIRIM|
|            2|ALTO ALEGRE DOS P...|
|            3|         PORTO VELHO|
|            4|             BURITIS|
|            5|           JI-PARANA|
|            6|         CHUPINGUAIA|
|            7|           ARIQUEMES|
|            8|             CUJUBIM|
|            9|              CACOAL|
|           10|          NOVA UNIAO|
|           11|       PIMENTA BUENO|
|           12|             PARECIS|
|           13|             VILHENA|
|           14|PIMENTEIRAS DO OESTE|
|           15|                JARU|
|           16|PRIMAVERA DE ROND...|
|           17| OURO PRETO DO OESTE|
|           18|  SAO FELIPE D'OESTE|
|           19|   PRESIDENTE MEDICI|
|           20|SAO FRANCISCO DO ...|
+-------------+--------------------+
only showing top 20 rows

In [ ]:
municipios_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.municipios") \
  .mode("overwrite") \
  .save()

In [ ]:
qualificacao_schema = StructType([
    StructField("cod_qualificacao", IntegerType(), True),
    StructField("qualificacao", StringType(), True)
])

qualificacao_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/F.K03200$Z.D30610.QUALSCSV', schema = qualificacao_schema, sep = ';',encoding="Windows-1252")

qualificacao_df.show()

+----------------+--------------------+
|cod_qualificacao|        qualificacao|
+----------------+--------------------+
|               0|       Não informada|
|               5|       Administrador|
|               8|Conselheiro de Ad...|
|               9|             Curador|
|              10|             Diretor|
|              11|         Interventor|
|              12|       Inventariante|
|              13|          Liquidante|
|              14|                 Mãe|
|              15|                 Pai|
|              16|          Presidente|
|              17|          Procurador|
|              18|          Secretário|
|              19|Síndico (Condomínio)|
|              20|Sociedade Consorc...|
|              21|   Sociedade Filiada|
|              22|               Sócio|
|              23|   Sócio Capitalista|
|              24|   Sócio Comanditado|
|              25|  Sócio Comanditário|
+----------------+--------------------+
only showing top 20 rows

In [ ]:
qualificacao_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.qualificacao") \
  .mode("overwrite") \
  .save()

In [ ]:
natureza_schema = StructType([
    StructField("cod_natureza_juridica", IntegerType(), True),
    StructField("natureza_juridica", StringType(), True)
])

natureza_juridica_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/F.K03200$Z.D30610.NATJUCSV', schema = natureza_schema, sep = ';', encoding="Windows-1252")

natureza_juridica_df.show()

+---------------------+--------------------+
|cod_natureza_juridica|   natureza_juridica|
+---------------------+--------------------+
|                    0|Natureza Jurídica...|
|                 3271|Órgão de Direção ...|
|                 3280|Comitê Financeiro...|
|                 3298|Frente Plebiscitá...|
|                 3301|Organização Socia...|
|                 3999|  Associação Privada|
|                 4014|Empresa Individua...|
|                 4090|Candidato a Cargo...|
|                 4120|Produtor Rural (P...|
|                 5010|Organização Inter...|
|                 5029|Representação Dip...|
|                 1015|Órgão Público do ...|
|                 1023|Órgão Público do ...|
|                 1031|Órgão Público do ...|
|                 1040|Órgão Público do ...|
|                 1058|Órgão Público do ...|
|                 1066|Órgão Público do ...|
|                 1074|Órgão Público do ...|
|                 1082|Órgão Público do ...|
|                 1104|   Autarquia Federal|
+---------------------+--------------------+
only showing top 20 rows

In [ ]:
natureza_juridica_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.natureza_juridica") \
  .mode("overwrite") \
  .save()

In [ ]:
cnae_schema = StructType([
    StructField("cod_cnae", StringType(), True),
    StructField("atividade", StringType(), True)
])

cnae_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/F.K03200$Z.D30610.CNAECSV', schema = cnae_schema, sep = ';', encoding="Windows-1252")

cnae_df.show()

+--------+--------------------+
|cod_cnae|           atividade|
+--------+--------------------+
|  111301|    Cultivo de arroz|
|  111302|    Cultivo de milho|
|  111303|    Cultivo de trigo|
|  111399|Cultivo de outros...|
|  112101|Cultivo de algodã...|
|  112102|     Cultivo de juta|
|  112199|Cultivo de outras...|
|  113000|Cultivo de cana-d...|
|  114800|     Cultivo de fumo|
|  115600|     Cultivo de soja|
|  116401| Cultivo de amendoim|
|  116402| Cultivo de girassol|
|  116403|   Cultivo de mamona|
|  116499|Cultivo de outras...|
|  119901|  Cultivo de abacaxi|
|  119902|     Cultivo de alho|
|  119903|Cultivo de batata...|
|  119904|   Cultivo de cebola|
|  119905|   Cultivo de feijão|
|  119906| Cultivo de mandioca|
+--------+--------------------+
only showing top 20 rows

In [ ]:
cnae_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.cnae") \
  .mode("overwrite") \
  .save()

In [ ]:
motivos_schema = StructType([
    StructField("cod_motivo", IntegerType(), True),
    StructField("motivo", StringType(), True)
])

motivos_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/F.K03200$Z.D30610.MOTICSV',  schema = motivos_schema, sep = ';', encoding="Windows-1252")

motivos_df.show()

+----------+--------------------+
|cod_motivo|              motivo|
+----------+--------------------+
|         0|          SEM MOTIVO|
|         1|EXTINCAO POR ENCE...|
|         2|        INCORPORACAO|
|         3|               FUSAO|
|         4|         CISAO TOTAL|
|         5|ENCERRAMENTO DA F...|
|         6|ENCERRAMENTO DA L...|
|         7|   ELEVACAO A MATRIZ|
|         8|          TRANSPASSE|
|         9|NAO INICIO DE ATI...|
|        10|EXTINCAO PELO ENC...|
|        11|ANULACAO POR MULT...|
|        12|ANULACAO ONLINE D...|
|        13|     OMISSA CONTUMAZ|
|        14|OMISSA NAO LOCALI...|
|        15|INEXISTENCIA DE FATO|
|        16| ANULACAO POR VICIOS|
|        17|BAIXA INICIADA EM...|
|        18|INTERRUPCAO TEMPO...|
|        21|PEDIDO DE BAIXA I...|
+----------+--------------------+
only showing top 20 rows

In [ ]:
motivos_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.motivos") \
  .mode("overwrite") \
  .save()

In [ ]:
porte_empresa =[
    (0,'Não informado'),
    (1,'Micro empresa'),
    (3,'Pequeno porte'),
    (5,'Demais')
]

porte_schema = StructType([
    StructField("cod_porte_empresa", IntegerType(), True),
    StructField("porte_empresa", StringType(), True)
])

porte_empresa_df = spark.createDataFrame(porte_empresa, schema = porte_schema)

porte_empresa_df.show()
porte_empresa_df.printSchema()

+-----------------+-------------+
|cod_porte_empresa|porte_empresa|
+-----------------+-------------+
|                0|Não informado|
|                1|Micro empresa|
|                3|Pequeno porte|
|                5|       Demais|
+-----------------+-------------+

root
 |-- cod_porte_empresa: integer (nullable = true)
 |-- porte_empresa: string (nullable = true)

In [ ]:
porte_empresa_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.porte_empresa") \
  .mode("overwrite") \
  .save()

In [ ]:
identificador_matriz =[
    (1,'Matriz'),
    (2,'Filial')
]

identificador_matriz_schema = StructType([
    StructField("cod_identificador_matriz", IntegerType(), True),
    StructField("matriz_filial", StringType(), True)
])

identificador_matriz_df = spark.createDataFrame(identificador_matriz, schema = identificador_matriz_schema)

identificador_matriz_df.show()

+------------------------+-------------+
|cod_identificador_matriz|matriz_filial|
+------------------------+-------------+
|                       1|       Matriz|
|                       2|       Filial|
+------------------------+-------------+

In [ ]:
identificador_matriz_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.identificador_matriz") \
  .mode("overwrite") \
  .save()

In [ ]:
situacao_cadastral =[
    (1,'Nula'),
    (2,'Ativa'),
    (3,'Suspensa'),
    (4,'Inapta'),
    (8,'Baixada'),
]

situacao_schema = StructType([
    StructField("cod_situacao_cadastral", IntegerType(), True),
    StructField("situacao_cadastral", StringType(), True)
])

situacao_cadastral_df = spark.createDataFrame(situacao_cadastral, schema = situacao_schema)

situacao_cadastral_df.show()

+----------------------+------------------+
|cod_situacao_cadastral|situacao_cadastral|
+----------------------+------------------+
|                     1|              Nula|
|                     2|             Ativa|
|                     3|          Suspensa|
|                     4|            Inapta|
|                     8|           Baixada|
+----------------------+------------------+

In [ ]:
situacao_cadastral_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.situacao_cadastral") \
  .mode("overwrite") \
  .save()

In [ ]:
identificador_socio =[
    (1,'Pessoa Juridica'),
    (2,'Pessoa Fisica'),
    (3,'Estrangeiro')
]

socio_schema = StructType([
    StructField("cod_identificador_socio", IntegerType(), True),
    StructField("identificador_socio", StringType(), True)
])

identificador_socio_df = spark.createDataFrame(identificador_socio, schema = socio_schema)

identificador_socio_df.show()

+-----------------------+-------------------+
|cod_identificador_socio|identificador_socio|
+-----------------------+-------------------+
|                      1|    Pessoa Juridica|
|                      2|      Pessoa Fisica|
|                      3|        Estrangeiro|
+-----------------------+-------------------+

In [ ]:
identificador_socio_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.identificador_socio") \
  .mode("overwrite") \
  .save()

In [ ]:
faixa_etaria =[
    (1,'0 a 12'),
    (2,'13 a 20'),
    (3,'21 a 30'),
    (4,'31 a 40'),
    (5,'41 a 50'),
    (6,'51 a 60'),
    (7,'61 a 70'),
    (8,'71 a 80'),
    (9,'+80'),
    (0,'Não se aplica'),
]

faixa_etaria_schema = StructType([
    StructField("cod_faixa_etaria", IntegerType(), True),
    StructField("faixa_etaria", StringType(), True)
])
faixa_etaria_df = spark.createDataFrame(faixa_etaria, schema = faixa_etaria_schema)

faixa_etaria_df.show()

+----------------+-------------+
|cod_faixa_etaria| faixa_etaria|
+----------------+-------------+
|               1|       0 a 12|
|               2|      13 a 20|
|               3|      21 a 30|
|               4|      31 a 40|
|               5|      41 a 50|
|               6|      51 a 60|
|               7|      61 a 70|
|               8|      71 a 80|
|               9|          +80|
|               0|Não se aplica|
+----------------+-------------+

In [ ]:
faixa_etaria_df.write \
  .format("bigquery") \
  .option("writeMethod","direct") \
  .option("table", "light-truth-391719.processed_cpnj_data.faixa_etaria") \
  .mode("overwrite") \
  .save()

In [ ]:
simples_schema = StructType([
    StructField("cnpj_basico", StringType(), True),
    StructField("opcao_simples", StringType(), True),
    StructField("data_opcao_simples", StringType(), True),
    StructField("data_exclusao_simples", StringType(), True),
    StructField("opcao_mei", StringType(), True),
    StructField("data_opcao_mei", StringType(), True),
    StructField("data_exclusao_mei", StringType(), True)
])

simples_df = spark.read.csv(f'gs://{bucket_name}/{folder_name}/F.K03200$W.SIMPLES.CSV.D30610', schema = simples_schema, sep = ';')

simples_df = simples_df.withColumn('data_opcao_simples', f.to_date(simples_df["data_opcao_simples"], "yyyyMMdd"))
simples_df = simples_df.withColumn('data_exclusao_simples', f.to_date(simples_df["data_exclusao_simples"], "yyyyMMdd"))
simples_df = simples_df.withColumn('data_opcao_mei', f.to_date(simples_df["data_opcao_mei"], "yyyyMMdd"))
simples_df = simples_df.withColumn('data_exclusao_mei', f.to_date(simples_df["data_exclusao_mei"], "yyyyMMdd"))

simples_df.show()

+-----------+-------------+------------------+---------------------+---------+--------------+-----------------+
|cnpj_basico|opcao_simples|data_opcao_simples|data_exclusao_simples|opcao_mei|data_opcao_mei|data_exclusao_mei|
+-----------+-------------+------------------+---------------------+---------+--------------+-----------------+
|   00000000|            N|        2007-07-01|           2007-07-01|        N|    2009-07-01|       2009-07-01|
|   00000006|            N|        2018-01-01|           2019-12-31|        N|          null|             null|
|   00000008|            N|        2014-01-01|           2021-12-31|        N|          null|             null|
|   00000011|            S|        2007-07-01|                 null|        N|          null|             null|
|   00000013|            S|        2009-01-01|                 null|        N|          null|             null|
|   00000015|            N|        2007-07-01|           2008-12-31|        N|          null|             null|
|   00000030|            N|        2015-01-01|           2015-12-31|        N|          null|             null|
|   00000040|            S|        2007-07-01|                 null|        N|          null|             null|
|   00000041|            N|        2007-07-01|           2015-11-03|        N|          null|             null|
|   00000056|            N|        2012-01-01|           2014-12-03|        N|          null|             null|
|   00000065|            N|        2007-07-01|           2019-12-31|        N|          null|             null|
|   00000068|            N|        2015-01-01|           2015-12-31|        N|          null|             null|
|   00000091|            N|        2007-07-01|           2007-12-31|        N|          null|             null|
|   00000092|            N|        2007-07-01|           2008-05-23|        N|          null|             null|
|   00000103|            S|        2007-07-01|                 null|        N|          null|             null|
|   00000108|            S|        2015-01-01|                 null|        N|          null|             null|
|   00000124|            N|        2007-07-01|           2007-07-01|        N|          null|             null|
|   00000127|            S|        2007-07-01|                 null|        N|          null|             null|
|   00000142|            N|        2011-01-01|           2013-07-01|        N|          null|             null|
|   00000156|            S|        2015-01-01|                 null|        N|          null|             null|
+-----------+-------------+------------------+---------------------+---------+--------------+-----------------+
only showing top 20 rows

In [ ]:
batch_size = 10000

batched_df = simples_df.repartition(batch_size)

batched_df.write \
    .format("bigquery") \
    .option("writeMethod", "direct") \
    .option("table", "light-truth-391719.processed_cpnj_data.simples") \
    .mode("append") \
    .save()